<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">
        BOOK NAME 
      </label>
      <input id="name" type="text" formControlName="Name">
    </div>
    <br>
    <div>
      <label for="Author">
        AUTHOR
      </label>
      <input id="Author" type="text" formControlName="Author">
    </div>
   <br>
    <div>
      <label for="fileUpload">
        Choose Image
      </label><br>
      <input id="fileUpload" type="file" (change)="onFileChanged($event)">
    </div>
   <br>
    <button type="submit">Submit</button>
  </form>
  